* {
	font-family: 'Times New Roman', Times, serif;
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
}

#page-container {
	display: flex;
	justify-content: center;
}

#page-content-container {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	padding: 300px 20px 0 20px;
	width: 100%;
}

#intro {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}

#intro > span {
	margin-bottom: 5px;
}

#intro-2 {
	margin-left: 3rem;
}

#intro-3 {
	margin-left: 6rem;
}

#intro-4 {
	margin-left: 9rem;
}

#full-name-container {
	align-items: flex-end;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

#full-name-preline {
	font-size: 1.5rem;
}

#full-name-title {
	font-size: 3.6rem;
	margin: 0;
}

#fleuron {
	align-self: center;
	height: 30%;
	margin-top: 75px;
	margin-bottom: 90px;
}

#about-me-section {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.chapter-number {
	font-size: 1.2rem;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.chapter-title {
	font-size: 2.75rem;
	margin: 0;
	margin-bottom: 10px;
}

#about-me-section > p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	max-width: 1000px;
	text-indent: 2.5rem;
}

#about-me-section > ul {
	align-self: flex-start;
}

#about-me-section > li {
	font-size: 1.2rem;
}

@media screen and (max-width: 630px) {
	#page-content-container {
		padding-top: 150px;
	}

	#intro {
		align-items: center;
		align-self: center;
	}

	#intro > span {
		margin-left: 0;
		font-size: 1rem;
	}

	#full-name-container {
		align-items: center;
		align-self: center;
	}

	#full-name-preline {
		font-size: 1.2rem;
	}

	#full-name-title {
		font-size: 2.4rem;
		text-align: center;
	}

	#fleuron {
		height: 100%;
		width: 80%;
		margin-bottom: 50px;
	}

	.chapter-number {
		font-size: 1rem;
	}

	.chapter-title {
		font-size: 2rem;
	}
}
